.frontImage{
    /* border:1pt solid black; */
    height:0;
    overflow:hidden;
    position: relative;
    
    display: flex;
    animation: fadeIn 1.5s 1s forwards;
    
}

.objetFit {
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%;
}


 @media (max-width:750px){
    .frontImage > img { 
        left:-40% !important;
        
    }
}
/*
@media only screen and (max-width: 950px) and (min-width: 675px) {
    .frontImage > img { 
        height:100%;
        width: auto;
        
    }
}

@media (max-height:780px){
    .frontImage > img { 
        height:100%;
        width: auto;
        left:-50% !important;
    }
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    50% {
        opacity: 0.1;
        
        
    }
    100% {
        height: 70vh;
        opacity: 1;
        
    }
}