
*, *:before, *:after {
  box-sizing: border-box;
}
.container {
  display: flex;
  padding: 4em 2em;
}

/* Form
---------------------------------- */
form.admin {
  background: #ffffff;
  padding: 2em;
  margin: 0 auto;
  width: 100%;
  max-width: 32em;
  border-radius: 15px;
}

/* Form group
---------------------------------- */
fieldset {
  margin-bottom: 1.5em;
}

legend {
  display: block;
  width: 100%;
  color: #D4BF7F;
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.25em;
  position: relative;
}
legend span {
  background: #D4BF7F;
  color: #ffffff;
  display: inline-block;
  font-size: 0.7em;
  line-height: 1.7;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  margin-right: 0.5em;
  vertical-align: text-top;
}

/* Form elements
---------------------------------- */
label.admin {
  font-weight: 700;
  display: inline-block;
  margin: 1.25em 0 0.35em;
}

input[type="text"].admin,
input[type="email"].admin {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 1em 0.75em;
  border: 1px solid #cccccc;
}

select {
  background: #ffffff;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

textarea {
  width: 100%;
  font-size: 1em;
  min-height: 10em;
  border: 1px solid #cccccc;
  padding: 1em 0.75em;
}

button[type="submit"] {
  background: #D4BF7F;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 0.85em 0.75em;
  border: 2px solid #D4BF7F;
  border-radius: 5px;
  transition: 0.15s all ease-in-out;
}
button[type="submit"]:hover, button[type="submit"]:focus {
  background: #ffffff;
  color: #D4BF7F;
}

.logoAbsolute{
  position: absolute;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.input-group.admin {
  position: relative;
}
.input-group label {
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 0.5em;
  padding: 0;
}
.input-group label:first-child {
  display: block;
  font-weight: 700;
  margin: 1.25em 0 0.35em;
}
.input-group input[type="radio"] {
  font-size: 1em;
  margin-bottom: 0.5em;
  vertical-align: text-top;
}

/* ____________________ PROGRESS BAR __________________ */
#size, #etr{
  display: inline-block;
  text-shadow: 1px 1px #000;
}
progress{
  margin: 5% 10px;
  display: inline-block;
  width: 90%;
  border-radius: 10px;
}
progress::-webkit-progress-bar{
  height: 13px;
  border: 1px solid #2b2931;
  border-radius: 10px;
  background-color: #333039;
  box-shadow: 0 1px 0 #4d4856;
}
progress::-webkit-progress-value{
  height: 12px;
  background-color: #0077c6;
  border: 1px solid #30a1e1;
  border-radius: 10px;
  box-shadow: 0 0 20px -1px #005db9;
  
}

.done{
  display:block;
}

.green-text {
  color:green;
}

.progressContainer{
  display: none;
}

/* ------------- toast ----------- */

/* toast */
.toast {
  color: #000;
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 1.25em;
  position: absolute;
  right: -365px;
  bottom: 1em;
  transition: 0.15s ease-in-out;
  width: 325px;
}

.toast.on {
  transform: translateX(-365px);
}

.close {
  cursor: pointer;
  float: right;
  font-size: 1.25rem;
  line-height: 1;
  margin-left: 1em;
  opacity: .8;
}

.jam {
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}
